<h1>{{title}}</h1>
<h2>Bienvenido {{{this.user.email}}}!</h2>
    <ul>
        {{#each products}}
            <li>${{this.price}} <br> {{this.title}} <br> ({{this.description}})</li>
        {{/each}}    
    </ul>
